2.3 EJERCICIO MODULO 3 PANDAS

In [1]:
# importando librerias
import pandas as pd

1- Abre el fichero de `rating-and-performance` con el método que sea más correcto. Además muestra las 5 primeras filas del *DataFrame*.

In [2]:
# Paso 1: Abrir el archivo y mostrar las 5 primeras filas del DataFrame
df = pd.read_csv('rating-and-performance.csv') 
# si esta metido en alguna carpeta por ejemplo que se llame files, tendriamos que 
# acceder a la carpeta y despues al archivo --> ('files/rating-and-performance.csv')

# Eliminar la primera columna (seleccionando todo menos la primera columna)
df = df.iloc[:, 1:]
print("Primeras 5 filas del DataFrame:")
df.head()

Primeras 5 filas del DataFrame:

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

2- Pongamos en práctica el `loc` e `iloc`:

In [3]:
# Paso 2: Usando loc e iloc

# Usando loc:

# Extraer todas las filas de la columna "price"
prices_loc = df.loc[:, 'price']
print("\ndatos de las filas de 'price' usando loc:\n", prices_loc)
print("\nTipo de datos de la columna 'price' usando loc:", prices_loc.dtype)

datos de las filas de 'price' usando loc:
 0       16.00
1        8.00
2        8.00
3        8.00
4        2.72
        ...
1568     6.00
1569     2.00
1570     5.00
1571    13.00
1572     7.00
Name: price, Length: 1573, dtype: float64

Tipo de datos de la columna 'price' usando loc: float64

In [4]:
# Extraer todas las filas de las columnas "price" y "retail_price"
# ¿De qué tipo es el resultado obtenido?
prices_retail_loc = df.loc[:, ['price', 'retail_price']]
print("\ndatos de las filas de 'price' y 'retail_price' usando loc:\n", prices_retail_loc)
print("-----------------------------------------------------------")
print("\nTipo de datos de la columna 'price' y 'retail_price'usando loc:", prices_retail_loc.dtypes)

datos de las filas de 'price' y 'retail_price' usando loc:
       price  retail_price
0     16.00            14
1      8.00            22
2      8.00            43
3      8.00             8
4      2.72             3
...     ...           ...
1568   6.00             9
1569   2.00            56
1570   5.00            19
1571  13.00            11
1572   7.00             6

[1573 rows x 2 columns]
-----------------------------------------------------------

Tipo de datos de la columna 'price' y 'retail_price'usando loc: price           float64
retail_price      int64
dtype: object

In [5]:
# Extraer las filas pares de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", 
# "rating_three_count", "rating_two_count", "rating_one_count"
filas_pares_loc = df.loc[::2, ['rating', 'rating_count', 'rating_five_count', 'rating_four_count', 'rating_three_count', 'rating_two_count', 'rating_one_count']]
filas_pares_loc.head()

,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
0,3.76,54,26.0,8.0,10.0,1.0,9.0
2,3.57,14,5.0,4.0,2.0,0.0,3.0
4,3.10,20,6.0,4.0,2.0,2.0,6.0
6,3.84,6742,3172.0,1352.0,971.0,490.0,757.0
8,3.47,15,6.0,2.0,3.0,1.0,3.0

In [6]:
# Extraer las filas cuyo precio sea mayor que 10 y sus unidades vendidas sea mayor que 5000
filtro_df_loc = df.loc[(df['price'] > 10) & (df['units_sold'] > 5000)]
filtro_df_loc.head()

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
16,Nouvelle mode d'été pour femmes Robe sans manc...,New Summer Women's Fashion Sleeveless Polka Do...,11.0,10,EUR,10000,0,3.72,2058,840.0,...,6302,3.958426,5b8beef49996c87b299cdbec,0,NaN,https://www.wish.com/c/5cd3e795ebe403118bbc0f89,https://contestimg.wish.com/api/webimage/5cd3e...,5cd3e795ebe403118bbc0f89,summer,2020-08
77,Nouveau Mode Femmes Casual Shorts Costume Été ...,New Fashion Women Casual Shorts Suit Summer Ti...,11.0,10,EUR,10000,0,4.24,1045,644.0,...,9200,4.289674,583e7f658108913bced6f8cf,0,NaN,https://www.wish.com/c/5b29e5b5080ea2661b2287f6,https://contestimg.wish.com/api/webimage/5b29e...,5b29e5b5080ea2661b2287f6,summer,2020-08
89,NOUVELLE Robe d'été sans manches imprimée à fl...,NEW Women Summer Floral Printed Sleeveless Dr...,11.0,10,EUR,20000,1,4.07,3070,1635.0,...,12974,3.965701,5a7b23a69bda4e3d375e7b3f,0,NaN,https://www.wish.com/c/5cf5e44b3c8b9e101a5db52c,https://contestimg.wish.com/api/webimage/5cf5e...,5cf5e44b3c8b9e101a5db52c,summer,2020-08
109,Casual femmes ras du cou à manches courtes feu...,Casual Women Crew Neck Short Sleeve Leaf Print...,11.0,10,EUR,10000,0,3.77,1694,725.0,...,13946,4.000143,559d33adc605853731afbf10,0,NaN,https://www.wish.com/c/5c78151c27202a28a75752b7,https://contestimg.wish.com/api/webimage/5c781...,5c78151c27202a28a75752b7,summer,2020-08
111,Femmes classiques dos nu en dentelle évider li...,Classic Women Backless Lace Hollow Out Halter ...,14.0,12,EUR,10000,0,3.93,2946,1427.0,...,32858,3.885538,57baf75f63834218e305e4f4,0,NaN,https://www.wish.com/c/5acb7ae3a69e662bb0133546,https://contestimg.wish.com/api/webimage/5acb7...,5acb7ae3a69e662bb0133546,summer,2020-08

In [7]:
# Usando iloc (obtendremos los mismos resultados que con loc):

# Extraer todas las filas de la columna "price"
prices_iloc = df.iloc[:, 2]
prices_iloc

0       16.00
1        8.00
2        8.00
3        8.00
4        2.72
        ...
1568     6.00
1569     2.00
1570     5.00
1571    13.00
1572     7.00
Name: price, Length: 1573, dtype: float64

In [8]:
# Extraer todas las filas de las columnas "price" y "retail_price"
prices_retail_iloc = df.iloc[:, [2, 3]]
prices_retail_iloc

      price  retail_price
0     16.00            14
1      8.00            22
2      8.00            43
3      8.00             8
4      2.72             3
...     ...           ...
1568   6.00             9
1569   2.00            56
1570   5.00            19
1571  13.00            11
1572   7.00             6

[1573 rows x 2 columns]

In [9]:
# Extraer las filas pares de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", 
# "rating_three_count", "rating_two_count", "rating_one_count"
filas_pares_iloc = df.iloc[::2, 7:14]
filas_pares_iloc.head()

,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
0,3.76,54,26.0,8.0,10.0,1.0,9.0
2,3.57,14,5.0,4.0,2.0,0.0,3.0
4,3.10,20,6.0,4.0,2.0,2.0,6.0
6,3.84,6742,3172.0,1352.0,971.0,490.0,757.0
8,3.47,15,6.0,2.0,3.0,1.0,3.0

3- Cread una nueva columna donde tengamos la diferencia entre el precio al que vende el e-commerce menos el precio del minorista. Insertad esta columna en la posición dos.

In [10]:
# Insertar la columna en la posición dos
df.insert(2, 'diferencia_precios', (df['price'] - df['retail_price']))

# Mostrar las primeras filas del DataFrame para verificar los cambios
df.head()

,title,title_orig,diferencia_precios,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,2.00,16.00,14,EUR,100,0,3.76,54,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,-14.00,8.00,22,EUR,20000,1,3.45,6135,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,-35.00,8.00,43,EUR,100,0,3.57,14,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,0.00,8.00,8,EUR,5000,1,4.03,579,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,-0.28,2.72,3,EUR,100,1,3.10,20,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

4. Crea una serie con nuemeros correlativos entre 1 y 12 inclusive (puedes hacerlo como lista o diccionario): 

    - Cambia el indice de la serie anteriormente creada para que comience con el numero 20.


    - Nuevamente cambia el indice de la serie, esta vez con una lista que haga referencia a los meses del año (tenemos 12 elementos como la cantidad de meses del año).

    - Muestra los valores que estan en la posicion 3 y 8 de mi serie.

    - Muestra los valores que estan etiquetados en enero y agosto.
  
    - Muestra sus valores, indices, forma, tamaño y el tipo de elementos de la serie.

In [11]:
# Paso 1: Crear una serie con números correlativos entre 1 y 12 inclusive
serie = pd.Series(range(1, 13))
print("Serie inicial:\n", serie)

Serie inicial:
 0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

In [12]:
# Paso 2: Cambiar el índice de la serie para que comience con el número 20
serie.index = range(20, 32)
print("\nSerie con índice comenzando en 20:\n", serie)

Serie con índice comenzando en 20:
 20     1
21     2
22     3
23     4
24     5
25     6
26     7
27     8
28     9
29    10
30    11
31    12
dtype: int64

In [13]:
# Paso 3: Cambiar el índice de la serie con una lista que haga referencia a los meses del año
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 
         'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
serie.index = meses
print("\nSerie con índice de meses del año:\n", serie)

Serie con índice de meses del año:
 Enero          1
Febrero        2
Marzo          3
Abril          4
Mayo           5
Junio          6
Julio          7
Agosto         8
Septiembre     9
Octubre       10
Noviembre     11
Diciembre     12
dtype: int64

In [14]:
# Paso 4: Mostrar los valores que están en la posición 3 y 8 de la serie
valor_posicion_3 = serie.iloc[3]  # Recordar que iloc usa índice basado en 0
valor_posicion_8 = serie.iloc[8]
print("\nValor en la posición 3:", valor_posicion_3)
print("Valor en la posición 8:", valor_posicion_8)

Valor en la posición 3: 4
Valor en la posición 8: 9

In [15]:
# Paso 5: Mostrar los valores que están etiquetados en enero y agosto
valor_enero = serie['Enero']
valor_agosto = serie['Agosto']
print("\nValor en Enero:", valor_enero)
print("Valor en Agosto:", valor_agosto)

Valor en Enero: 1
Valor en Agosto: 8

In [16]:
# Paso 6: Mostrar valores, índices, forma, tamaño y el tipo de elementos de la serie
print("\nValores de la serie:\n", serie.values)
print("Índices de la serie:\n", serie.index)
print("Forma de la serie:", serie.shape)
print("Tamaño de la serie:", serie.size)
print("Tipo de elementos de la serie:", serie.dtype)

Valores de la serie:
 [ 1  2  3  4  5  6  7  8  9 10 11 12]
Índices de la serie:
 Index(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
       'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      dtype='object')
Forma de la serie: (12,)
Tamaño de la serie: 12
Tipo de elementos de la serie: int64